:root {

    /* Color scheme */
    --clr-main-50: 178deg 19% 100%;
    --clr-main-100: 178deg 19% 91%;
    --clr-main-200: 183deg 27% 80%;
    --clr-main-300: 188deg 27% 68%;
    --clr-main-400: 190deg 27% 50%;
    --clr-main-500: 192deg 27% 42%;
    --clr-main-600: 192deg 27% 31%;
    --clr-main-700: 192deg 27% 25%;
    --clr-main-800: 192deg 27% 19%;
    --clr-main-900: 192deg 27% 13%;
    --clr-main-950: 192deg 19% 6%;

    --plane-high: var(--clr-main-50);
    --plane-mid: var(--clr-main-100);
    --plane-low: var(--clr-main-200);

    --contrast: var(--clr-main-900);

    /* Padding, gap, and radii */
    --pad-small: 0.25em;
    --pad-mid: 0.5em;
    --pad-large: 1em;

    /* Font sizing */
    --main: "Noto Sans";
    --alt: "Dosis";
    --stack: system-ui, sans-serif;

    --h1: 4em;
    --h2: 3em;
    --h3: 2em;
    --h4: 1.5em;
}
