:root {
    color-scheme: dark light;

    /* Color scheme */
    --clr-main-50: 225deg 15% 100%;
    --clr-main-100: 225deg 15% 91%;
    --clr-main-200: 225deg 15% 80%;
    --clr-main-300: 225deg 15% 72%;
    --clr-main-400: 225deg 15% 55%;
    --clr-main-500: 225deg 15% 42%;
    --clr-main-600: 225deg 15% 36%;
    --clr-main-700: 225deg 15% 25%;
    --clr-main-800: 225deg 15% 19%;
    --clr-main-900: 225deg 15% 10%;
    --clr-main-950: 225deg 15% 2%;

    --clr-alt-100: 240deg 100% 90%;
    --clr-alt-200: 240deg 90% 80%;
    --clr-alt-300: 240deg 80% 70%;
    --clr-alt-400: 240deg 70% 60%;
    --clr-alt-500: 240deg 55% 50%;
    --clr-alt-600: 240deg 60% 40%;
    --clr-alt-700: 240deg 65% 30%;
    --clr-alt-800: 240deg 70% 20%;
    --clr-alt-900: 240deg 75% 10%;

    --plane-high: var(--clr-main-50);
    --plane-mid: var(--clr-main-100);
    --plane-low: var(--clr-main-200);
    --alt-high: var(--clr-alt-400);
    --alt-mid: var(--clr-alt-500);
    --alt-low: var(--clr-alt-600);
    --contrast-high: var(--clr-main-800);
    --contrast-mid: var(--clr-main-700);
    --contrast-low: var(--clr-main-500);

    /* Padding, gap, and radii */
    --pad-small: 0.25em;
    --pad-mid: 0.5em;
    --pad-large: 1em;

    /* Font sizing */
    --main: "Noto_Sans";
    --alt: "Dosis";
    --stack: system-ui, sans-serif;

    --h1: clamp(3em, 5vw, 4em);
    --h2: clamp(2em, 4.5vw, 3em);
    --h3: clamp(1.75em, 4vw, 2em);
    --h4: clamp(1.25em, 3.5vw, 1.5em);
}

@media (prefers-color-scheme: dark) {

    :root {
        --plane-high: var(--clr-main-800);
        --plane-mid: var(--clr-main-900);
        --plane-low: var(--clr-main-950);
        --alt-high: var(--clr-alt-200);
        --alt-mid: var(--clr-alt-300);
        --alt-low: var(--clr-alt-400);
        --contrast-high: var(--clr-main-100);
        --contrast-mid: var(--clr-main-300);
        --contrast-low: var(--clr-main-400);
    }
}

[data-view-mode="light"] {
    color-scheme: light;

    --plane-high: var(--clr-main-50);
    --plane-mid: var(--clr-main-100);
    --plane-low: var(--clr-main-200);
    --alt-high: var(--clr-alt-400);
    --alt-mid: var(--clr-alt-500);
    --alt-low: var(--clr-alt-600);
    --contrast-high: var(--clr-main-800);
    --contrast-mid: var(--clr-main-700);
    --contrast-low: var(--clr-main-500);
}

[data-view-mode="dark"] {
    color-scheme: dark;

    --plane-high: var(--clr-main-800);
    --plane-mid: var(--clr-main-900);
    --plane-low: var(--clr-main-950);
    --alt-high: var(--clr-alt-200);
    --alt-mid: var(--clr-alt-300);
    --alt-low: var(--clr-alt-400);
    --contrast-high: var(--clr-main-100);
    --contrast-mid: var(--clr-main-300);
    --contrast-low: var(--clr-main-400);
}

