---
import Layout from "../layouts/Layout.astro";
import LinkCard from "../components/LinkCard.astro";
import Hero from "../components/Hero.astro";

---

<Layout title="Home" desc="An open source vegan recipe book">
    <main class="the-grid">
        <header class="the-grid-content">
            <Hero class="heading-1">
                Vegan recipes by a guy who loves good food and loathes ads
            </Hero>
        </header>
        <section class="the-grid-pad links-grid">
            <LinkCard
                href="/queso-v7"
                label="Queso v7"
                src="/queso-v7-1024.jpg"
                alt="A jar containing a firm cheddar-colored sauce"
                desc="A creamy, queso-like vegan sauce. It goes great on pizza, noodles, and inside quesadillas!" />
            <LinkCard
                href="/fennel-pecan-lentils"
                label="Fennel-Pecan Lentils v3"
                src="/sausage.jpg"
                alt="Three vegan sausages arranged in a line on a pretty plate"
                desc="A sausage-like mince that can be wrapped in a rice paper casing and fried." />
            <LinkCard
                href="/hot-chocolate"
                label="Hot Chocolate"
                src="/hot_chocolate.jpg"
                alt="A mug that reads 'hubby', filled with hot chocolate and vegan whipped cream"
                desc="A hot, chocolate-flavored, milk beverage. Even non-vegans seem to like it!" />
            <LinkCard
                href="/mustard-creme"
                label="Mustard Creme"
                src="/mustard_creme.jpg"
                alt="A jar containing a firm cheddar-colored sauce"
                desc="A creamy, tangy, mustardy sauce that goes great on vegan sausages" />
        </section>
    </main>
</Layout>

<style>

    .the-grid {
        display: grid;
        grid-template-columns: [full-start] var(--pad-large) 1fr [pad-start] 1fr [content-start] min(75ch, calc(100% - (var(--pad-large) * 2))) [content-end] 1fr [pad-end] 1fr var(--pad-large) [full-end];
    }

    .the-grid-content {
        grid-column: content;
    }

    .the-grid-pad {
        grid-column: pad;
    }

    .links-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 24em), 1fr));
        gap: var(--pad-large);
        margin-block-start: calc(var(--pad-large) * 3);
    }

</style>
