---

const { origin, pathname } = Astro.url;
const crumbs = pathname.split("/").slice(1);
const labels = crumbs.map(crumb => crumb.split("-").map(word => word[0].toUpperCase() + word.slice(1)).join(" "))
const links = crumbs.reduce((acc, cur) => {
    if (!Array.isArray(acc)) {
        [acc].push(cur);
    } else {
        acc.push(acc.join("") + "/" + cur);
    }
    return acc;

}, []);
---

<nav class="breadcrumbs">
    <ul class="bread-list" role="list">
        <li>
            <a href={origin} class="crumb">Home</a>
        </li>
        { labels.map((label, i) => <li class="bread-item"><a class="crumb" href={links[i]}>{label}</a></li>) }
    </ul>
</nav>

<style>
    .breadcrumbs {
        grid-area: bread;
        justify-self: start;
        color: hsl(var(--contrast-mid));
        overflow-x: auto;
        max-width: 100%;
    }
    
    .bread-list {
        display: flex;
        padding: 0;
        min-width: max-content;
    }
    
    .bread-item::before {
        content: "/";
        margin-inline: var(--pad-mid);
    }

    .crumb {
       color: hsl(var(--contrast-mid)); 
    }

    .crumb:hover {
        color: hsl(var(--contrast-high));    
        background-color: hsl(var(--contrast-high) / 5%);
    }

</style>

