---
const { link, title } = Astro.props; 
---

<nav class="breadcrumbs">
    <ul class="bread-list" role="list">
        <li>
            <a href="/" class="crumb">Home</a>
        </li>
        <li class="bread-item">
            <a href={link} class="crumb">{title}</a>
        </li>
    </ul>
</nav>

<style>
    .breadcrumbs {
        grid-area: bread;
        justify-self: start;
        color: hsl(var(--contrast-mid));
        overflow-x: auto;
        max-width: 100%;
    }
    
    .bread-list {
        display: flex;
        padding: 0;
        min-width: max-content;
    }
    
    .bread-item::before {
        content: "/";
        margin-inline: var(--pad-mid);
    }

    .crumb {
       color: hsl(var(--contrast-mid)); 
    }

    .crumb:hover {
        color: hsl(var(--contrast-high));    
        background-color: hsl(var(--contrast-high) / 5%);
    }

</style>

