---
import { randomBlob } from "./blobs/blob_utils.js"
---

<li class="directions-item">
    <slot />
</li>

<style>

    @import url("./blobs/blobStyle.css");

    .directions-item {
        position: relative;
    }

    .directions-item::before {
        content: counter(directions);
        counter-increment: directions;
        display: grid;
        place-items: center;
        width: var(--_circle-size);
        height: var(--_circle-size);
        margin-inline: 40%;
        background-color: hsl(var(--plane-high));
        color: hsl(var(--contrast-high));
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
    }

    @media (min-width: 50em) {
        .directions-item {
            padding-inline-start: calc(var(--_circle-size) + var(--_gap-size));
        }

        .directions-item::before {
            position: absolute;
            left: 0;
            margin-inline: revert;
        }

    }

    .directions-item:nth-child(1n)::before {
        mask: url("../../public/blobs/blob_1.svg");
        mask-size: contain;
    }
    .directions-item:nth-child(2n)::before {
        mask: url("../../public/blobs/blob_2.svg");
        mask-size: contain;
    }
    .directions-item:nth-child(3n)::before {
        mask: url("../../public/blobs/blob_3.svg");
        mask-size: contain;
    }
    .directions-item:nth-child(4n)::before {
        mask: url("../../public/blobs/blob_4.svg");
        mask-size: contain;
    }

    .directions-item + .directions-item {
        margin-block-start: calc(var(--pad-large) * 3);
    }

</style>

