---
import Logo from "./Logo.astro"
---

<header class="recessed-header">
    <a href="/" >
        <Logo />
        <span class="sr-only">Home</span>
    </a>
</header>
<style>
    .recessed-header {
        position: sticky;
        top: 0;
        padding: var(--pad-mid);
        background-color: hsl(var(--plane-low));
        background-image:
            radial-gradient(
                circle at bottom,
                hsl(var(--clr-main-300)),
                hsl(var(--clr-main-300) / 0%)),
            linear-gradient(
                90deg,
                hsl(var(--plane-low)),
                hsl(var(--plane-mid)));
        z-index: 1000;
    }
</style>
