---
import Logo from "./Logo.astro"
---

<header class="recessed-header">
    <a href="/" >
        <Logo />
        <span class="sr-only">Home</span>
    </a>
</header>
<style>
    .recessed-header {
        position: sticky;
        top: 0;
        padding: var(--pad-mid);
        background-color: hsl(var(--clr-main-100));
        background-image:
            radial-gradient(
                circle at 50% 500%,
                hsl(var(--clr-main-200) / 0%),
                hsl(var(--clr-main-200) / 33.33%));
        z-index: 1000;
    }
</style>
