---
---

<h1 class="heading-1 hero_header">
    <slot />
</h1>

<style>
    .hero_header {
        margin-block: calc(var(--pad-large) * 2);
        color: hsl(var(--contrast-mid));
        font-weight: 700;
        text-align: center;
    }
</style>
