---
---

<p class="preamble">
    <slot />
</p>

<style>

    .preamble {
        padding: var(--pad-mid) var(--pad-large);
        background-color: hsl(var(--plane-low) / 50%);
        border-radius: var(--pad-mid);
        margin-block-end: var(--pad-large);
    }

</style>
