---
import Scaler from "./Scaler.astro";
const {ingredients, servings} = Astro.props;
---

<section class="ingredients">
    <h3 class="heading-3">Ingredients</h3>
    
    <Scaler servings={servings} />
    
    <ul role="list" class="ingredients-list">
    
    {ingredients.map(({name, amount, note}) =>
        <li class="ingredients-item">

        <span class="ingredient-name">{name}</span>
        <em class="ingredient-amount">{amount.map((part) => typeof part === "number" ? <>&nbsp;<span data-scalable>{part}</span></> : " " + part)}</em>

        {note && <small>{note}</small>}

        </li>)}
    
    </ul>


</section>

<style>
    .ingredients {
        grid-area: ingredients;
        max-width: 75ch;
    }

    .ingredients-list {
        padding: 0;
        columns: 18ch auto;
    }

    .ingredients-item {
        --_gap-size: calc(var(--pad-large) * 1.5);
        position: relative;
        line-height: 1.3;
        color: hsl(var(--contrast-low));
        padding-block: var(--pad-mid);
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
    }

    .ingredient-name {
        color: hsl(var(--contrast-high));
    }

    /*.ingredients-item::before {
        content: "";
        position: absolute;
        left: 0;
        top: calc(1em - 0.25em);
        width: 1ch;
        height: 0.25em;
        border-radius: 0.25em;
        background-color: hsl(var(--contrast-low));
    }*/

</style>

