---
---

<section class="preamble">
    <slot />
</section>

<style>

    .preamble {
        padding: var(--pad-mid) var(--pad-large);
        background-color: hsl(var(--plane-low) / 50%);
        border-radius: var(--pad-mid);
        margin-block: var(--pad-large);
    }

    :global(.preamble > *) {
        margin: 0;
    }

</style>
