---

const { title, image, alt, description } = Astro.props;

---

<article>
    <hgroup>
        <h1 class="heading-1">{title}</h1>
        <img src={image} alt={alt} />
        <p class="heading-4">{description}</p>
    </hgroup>
    
    <slot />
    
    <h2 class="heading-3">Ingredients</h2>
    <slot name="ingredients" />
    
    <h2 class="heading-3">Directions</h2>
    <slot name="directions" />

</article>
